<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
      <div class="containerSuccess">
        <svg version="1.1" viewBox="0 0 17 17" class="svg-icon svg-fill pictoSuccess"><g fill="none" fill-rule="evenodd"><rect pid="0" fill="#00B0E7" width="17" height="17" rx="8.5"></rect><path pid="1" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M4 8l3.25 3.25L12.5 6"></path></g></svg>
        <p class="messageSuccess">Votre produit a bien été ajouté!</p>
      </div>

      <div class="selectedProduct" style="display: flex; align-items: center;"></div>



    <br>
    <p class="otherProduct">Autre produit dans votre panier:</p>

    <div class="buttonPopin">
      <button class="Button Button--primary buttonPanierPopin" href="https://www.picwictoys.com/panier">
        <p style="text-align: center;font-size: 12px; margin: auto;">Voir mon panier</p>
      </button>
      <button class="Button buttonAchats" href="https://www.picwictoys.com/panier">
        <p style="text-align: center;font-size: 12px; margin: auto;">Continuer mes achats</p>
      </button>
    </div>

    <div class="footerPopin">
      <div class="footerPopinDelivery">
        <svg version="1.1" viewBox="0 0 17 17" class="svg-icon svg-fill pictoSuccess"><g fill="none" fill-rule="evenodd"><rect pid="0" fill="#00B0E7" width="17" height="17" rx="8.5"></rect><path pid="1" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M4 8l3.25 3.25L12.5 6"></path></g></svg>
        <div style="display: block; margin-right: 20px">
          <p style="display: flex; font-size: 12px; text-align: left;">LIVRAISON OFFERTE</p>
          <br>
          <p style="display: flex; font-size: 12px; text-align: left; margin-top: -24px;">EN MAGASIN</p>
        </div>
      </div>

      <div class="footerPopinPayment">
        <svg version="1.1" viewBox="0 0 17 17" class="svg-icon svg-fill pictoSuccess"><g fill="none" fill-rule="evenodd"><rect pid="0" fill="#00B0E7" width="17" height="17" rx="8.5"></rect><path pid="1" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M4 8l3.25 3.25L12.5 6"></path></g></svg>
        <div style="display: block;">
          <p style="display: flex; font-size: 12px; text-align: left;">PAIEMENT</p>
          <br>
          <p style="display: flex; font-size: 12px; text-align: left; margin-top: -24px;">100% SÉCURISÉ</p>
        </div>
      </div>
    </div>
  </div>
</div>






<div id="myModal" class="modal"><div class="modal-content"><span class="close">&times;</span><div class="containerSuccess"><svg version="1.1" viewBox="0 0 17 17" class="svg-icon svg-fill pictoSuccess"><g fill="none" fill-rule="evenodd"><rect pid="0" fill="#00B0E7" width="17" height="17" rx="8.5"></rect><path pid="1" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M4 8l3.25 3.25L12.5 6"></path></g></svg><p class="messageSuccess">Votre produit a bien été ajouté!</p></div><div class="selectedProduct" style="display: flex; align-items: center;"></div><br><p class="otherProduct">Autre produit dans votre panier:</p><div class="buttonPopin"><button class="Button Button--primary buttonPanierPopin" href="https://www.picwictoys.com/panier"><p style="text-align: center;font-size: 12px; margin: auto;">Voir mon panier</p></button><button class="Button buttonAchats" href="https://www.picwictoys.com/panier"><p style="text-align: center;font-size: 12px; margin: auto;">Continuer mes achats</p></button></div><div class="footerPopin"><div class="footerPopinDelivery"><svg version="1.1" viewBox="0 0 17 17" class="svg-icon svg-fill pictoSuccess"><g fill="none" fill-rule="evenodd"><rect pid="0" fill="#00B0E7" width="17" height="17" rx="8.5"></rect><path pid="1" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M4 8l3.25 3.25L12.5 6"></path></g></svg><div style="display: block; margin-right: 20px"><p style="display: flex; font-size: 12px; text-align: left;">LIVRAISON OFFERTE</p><br><p style="display: flex; font-size: 12px; text-align: left; margin-top: -24px;">EN MAGASIN</p></div></div><div class="footerPopinPayment"><svg version="1.1" viewBox="0 0 17 17" class="svg-icon svg-fill pictoSuccess"><g fill="none" fill-rule="evenodd"><rect pid="0" fill="#00B0E7" width="17" height="17" rx="8.5"></rect><path pid="1" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" d="M4 8l3.25 3.25L12.5 6"></path></g></svg><div style="display: block;"><p style="display: flex; font-size: 12px; text-align: left;">PAIEMENT</p><br><p style="display: flex; font-size: 12px; text-align: left; margin-top: -24px;">100% SÉCURISÉ</p></div></div></div></div></div>
