  <div class="panel panel-default">
    <div id="tab-product_documentation" class="panel-heading" role="tab">
    <h2 class="panel-title">
    <a href="#tab-panel-product_documentation" data-toggle="collapse" class="collapsed" aria-expanded="false" aria-controls="tab-panel-product_documentation">
    Documentation et brochures
    <i class="fa fa-plus"></i>
    </a>
    </h2>
    </div>
    <div id="tab-panel-product_documentation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tab-product_documentation" aria-expanded="false" style="height: 0px;">
    <div class="panel-body" style="">
    <div class="row" style="">
    <div class="col-sm-6" style="">
    <div class="thumbnail thumbnail-inline thumbnail-document" data-mh="thumbnail" style="height: 109px;">
    <div class="caption">
    <span class="label label-primary">    Fiche produit
    </span>
    <h3 class="thumbnail-title"><a href="https://www.fr.weber/files/fr/2018-01/fiche_imprimable_weberpral_DR.pdf" target="_blank">    fiche produit - weberpral DR
    </a><span class="type">(PDF - 508,6 KB)</span></h3>

    <span class="thumbnail-excerpt">    <span class="gtm-event" data-event="downloadProductDocument" data-document_type="Fiche produit" data-element_name="fiche produit - weberpral DR"><a href="//www.fr.weber/files/fr/2018-01/fiche_imprimable_weberpral_DR.pdf" target="_blank" download="">Télécharger</a></span> • <span class="gtm-event" data-event="sendProductDocument" data-document_type="Fiche produit" data-element_name="fiche produit - weberpral DR"><a href="/download-send-modal/17046__9166/67" class="use-ajax send-one-document" rel="nofollow" data-dialog-type="modal" data-document="17046" data-document-name="fiche produit - weberpral DR">Envoyer</a></span>
    </span>

    <div class="btn-group btn-group-tools" role="group">
    <a href="/user/modal/login/flag/media/9166" class="use-ajax btn btn-link btn-bookmark" rel="nofollow" role="button">
    <svg class="icon">
    <use xlink:href="/sites/fr/themes/custom/weber_base/dist/images/sprite.svg#icon-bookmark"></use>
    </svg>
    <span class="sr-only">Add bookmark</span> </a>
    </div>
    </div>

    </div>
    </div>
    <div class="col-sm-6" style="">
    <div class="thumbnail thumbnail-inline thumbnail-document" data-mh="thumbnail" style="height: 109px;">
    <div class="caption">
    <span class="label label-primary">    DOP (Fiche de Déclaration de Performance)
    </span>
    <h3 class="thumbnail-title"><a href="https://www.fr.weber/files/fr/2018-01/DoP_C24_weberpral_DR_V2.pdf" target="_blank">    fiche DoP - weberpral DR
    </a><span class="type">(PDF - 101,7 KB)</span></h3>

    <span class="thumbnail-excerpt">    <span class="gtm-event" data-event="downloadProductDocument" data-document_type="DOP (Fiche de Déclaration de Performance)" data-element_name="fiche DoP - weberpral DR"><a href="//www.fr.weber/files/fr/2018-01/DoP_C24_weberpral_DR_V2.pdf" target="_blank" download="">Télécharger</a></span> • <span class="gtm-event" data-event="sendProductDocument" data-document_type="DOP (Fiche de Déclaration de Performance)" data-element_name="fiche DoP - weberpral DR"><a href="/download-send-modal/17051__9171/67" class="use-ajax send-one-document" rel="nofollow" data-dialog-type="modal" data-document="17051" data-document-name="fiche DoP - weberpral DR">Envoyer</a></span>
    </span>

    <div class="btn-group btn-group-tools" role="group">
    <a href="/user/modal/login/flag/media/9171" class="use-ajax btn btn-link btn-bookmark" rel="nofollow" role="button">
    <svg class="icon">
    <use xlink:href="/sites/fr/themes/custom/weber_base/dist/images/sprite.svg#icon-bookmark"></use>
    </svg>
    <span class="sr-only">Add bookmark</span> </a>
    </div>
    </div>

    </div>
    </div>
    <div class="col-sm-6" style="">
    <div class="thumbnail thumbnail-inline thumbnail-document" data-mh="thumbnail" style="">
    <div class="caption">
    <span class="label label-primary">    FDS (Fiche de Données Sécurité)
    </span>
    <h3 class="thumbnail-title"><a href="https://www.fr.weber/files/fr/2020-07/00057_WEBER.PRAL_DR_FR_11.pdf" target="_blank">    FDS - WEBERPRAL DR
    </a><span class="type">(PDF - 243,04 KB)</span></h3>

    <span class="thumbnail-excerpt">    <span class="gtm-event" data-event="downloadProductDocument" data-document_type="FDS (Fiche de Données Sécurité)" data-element_name="FDS - WEBERPRAL DR"><a href="//www.fr.weber/files/fr/2020-07/00057_WEBER.PRAL_DR_FR_11.pdf" target="_blank" download="">Télécharger</a></span> • <span class="gtm-event" data-event="sendProductDocument" data-document_type="FDS (Fiche de Données Sécurité)" data-element_name="FDS - WEBERPRAL DR"><a href="/download-send-modal/17041__9161/67" class="use-ajax send-one-document" rel="nofollow" data-dialog-type="modal" data-document="17041" data-document-name="FDS - WEBERPRAL DR">Envoyer</a></span>
    </span>

    <div class="btn-group btn-group-tools" role="group">
    <a href="/user/modal/login/flag/media/9161" class="use-ajax btn btn-link btn-bookmark" rel="nofollow" role="button">
    <svg class="icon">
    <use xlink:href="/sites/fr/themes/custom/weber_base/dist/images/sprite.svg#icon-bookmark"></use>
    </svg>
    <span class="sr-only">Add bookmark</span> </a>
    </div>
    </div>

    </div>
    </div>
    </div>
    <div class="row">
    </div>
    </div>
    </div>
  </div>
